<nav class="flex items-center justify-center md:justify-between pt-6 relative px-16" data-controller="navbar">
    <%= link_to root_path, class: "flex pr-6" do %>
        <%= image_tag "me", class: "rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9" %>
    <% end %>

    <div class="hidden md:flex rounded-full bg-white/90 px-3 text-zinc-800 text-sm font-medium ring-1 ring-zinc-900/5 backdrop-blur shadow-lg dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
        <%= link_to "Home", root_path, class: "block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" %>
        <%= link_to "Blog", blog_path, class: "block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" %>
        <%= link_to "Uses", uses_path, class: "block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" %>
        <%= link_to "Works", works_path, class: "block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" %>
    </div>

    <div class="hidden md:flex rounded-full bg-white/90 px-3 text-zinc-800 text-sm font-medium ring-1 ring-zinc-900/5 backdrop-blur shadow-lg transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
        <%= button_tag class: "block px-3 py-2 transition hover:text-teal-500 dark: dark:hover:text-teal-400", data: { navbar_target: "mode" } do %>
            <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-teal-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-teal-600">
                <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path><path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061" fill="none"></path>
            </svg>
            <svg viewBox="0 0 24 24" aria-hidden="true" class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-teal-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-teal-500">
                <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        <% end %>
    </div>

    <div class="flex md:hidden gap-6">
        <div class="flex justify-end items-center md:hidden rounded-full bg-white/90 px-3 text-zinc-800 text-sm font-medium ring-1 ring-zinc-900/5 backdrop-blur shadow-lg dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
            <%= button_tag class: "flex px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400", data: { navbar_target: "openMenu" } do %>
                <span>Menu</span>
                <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
            <% end %>
        </div>

        <div
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95"
            id="navbar-menu"
            class="hidden absolute z-10 mt-12 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-zinc-900/5 dark:ring-white/10"
            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
                <%= link_to "Blog", "#", class: "text-gray-700 hover:bg-gray-100 hover:dark:text-zinc-800 dark:text-zinc-200 block px-4 py-2 text-sm" %>
                <%= link_to "Projects", "#", class: "text-gray-700 hover:bg-gray-100 hover:dark:text-zinc-800 dark:text-zinc-200 block px-4 py-2 text-sm" %>
                <%= link_to "Uses", "#", class: "text-gray-700 hover:bg-gray-100 hover:dark:text-zinc-800 dark:text-zinc-200 block px-4 py-2 text-sm" %>
            </div>
        </div>

        <div class="flex rounded-full bg-white/90 px-1 text-zinc-800 text-sm font-medium ring-1 ring-zinc-900/5 backdrop-blur shadow-lg transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
            <%= button_tag class: "block px-3 py-2 transition hover:text-teal-500 dark: dark:hover:text-teal-400", data: { navbar_target: "modeMobile" } do %>
                <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-teal-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-teal-600">
                    <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path><path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061" fill="none"></path>
                </svg>
                <svg viewBox="0 0 24 24" aria-hidden="true" class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-teal-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-teal-500">
                    <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            <% end %>
        </div>
    </div>
</nav>
