<!DOCTYPE html>
<html class="min-h-screen antialiased dark">
    <head>
        <title>GCalderonM</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
        <%= favicon_link_tag "me.jpg", type: 'image/jpg' %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body class="flex flex-col max-w-6xl mx-auto h-screen bg-zinc-50 dark:bg-black">
        <%= render "shared/navbar" %>
        <main class="flex-1">
            <%= yield %>
        </main>
        <%= render "shared/footer" %>
    </body>
</html>
